.nameContainer {
    width: 100%;
    height: 216px;
    text-align: center;
    padding-top: 60px; 
  }
  
  .name {
    font-size: 42px;
    text-align: center;
    color: #303030;
    line-height: 34px;
    font-weight: 700;
  }
  
  .secondName {
    padding-top: 17px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 28px;
    line-height: 34px;
    font-weight: 400;
    font-family: 'Inter';
    position: relative;
    padding-bottom: 32px;
    color: #474747;
  }
  
  .secondName::after {
    content: '';
    position: absolute;
    background-color: #BF0F0F;
    width: 137px;
    height: 6px;
    bottom: 0; 
  }
  
  .aboutContainer {
    background-image: url("../images/Rectangle 140.png");
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 345px;
  }
  
  .aboutElement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 152px;
    width: 100%;
    border-left: 1px solid #888787;
    color: white; 
  }
  
  .aboutElement:first-child {
    border: none; 
  }

  .firstspan {
        font-family: 'Inter';
        font-size: 46px;
        font-weight: 900;
        line-height: 34px;
  }

  .secondspan {
      font-family: 'Inter';
      font-size: 18px;
      font-weight: 400;
      line-height: 34px;
  }
  
/* Responsibility */
@media only screen and (max-width: 800px) {
  .aboutContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
  }
}
@media only screen and (max-width: 400px) {
  .name {
    font-size: 25px;
    text-align: center;
  } 
}


