.homeContainer {
  display: flex;
  gap: 3rem;
  padding-bottom: 70px;
  padding-top: 73px; 
  background-color: #F4F4F4;
}

.homeImg {
  bottom: 70px;
  margin: auto;
  width: 100%;
  height: 504px;
  left: 0; }

.companyContainer {
  position: relative;
  height: 504px;
  width: 100%;
  margin: auto; }

.titleName {
  text-align: left;
  position: relative;
  padding-bottom: 20px;
  color: #303030;
  font-weight: 700;
font-size: 42px;
line-height: 34px; }

.titleName::after {
  content: "";
  position: absolute;
  background-color: #BF0F0F;
  width: 137px;
  height: 6px;
  bottom: 0;
  left: 0; }

.titleProff {
  font-family: 'Inter';
  padding-top: 5px;
  padding-bottom: 30px;
  width: 500px;
  font-size: 28px;
  font-weight: 400;
  line-height: 34px;
  position: relative;
  color: #474747; }

.titleProff::after {
  content: "";
  position: absolute;
  background-color: #D9D9D9;
  width: 500px;
  height: 3px;
  bottom: 0;
  left: 0; }

.titleDesc {
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  color: #474747;
line-height: 22.4px; }

.company-button {
  background-color: #BF0F0F;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  bottom: 0;
  position: absolute;
  border-radius: 5px; }

  .company-button:hover {
    color: black;
  }

 /*Responsibility*/

@media only screen and (max-width: 1200px) {
  .homeImg {
    display: flex;
    justify-content: center;
    align-items: center; }
  .homeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .companyContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .titleDesc {
    text-align: center; }
  .moreBtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
 }

@media only screen and (max-width: 710px) {
  .homeImg img {
    width: 100%;
    position: relative;
    height: 100%;
    top: 50px; }
  .titleProff {
    width: 100%;
    text-align: center; }
  .companyContainer {
    margin-top: 55px; } }

@media only screen and (max-width: 600px) {
  .homeImg img {
    width: 100%;
    height: 100%;
    top: 40px;
    position: relative; }
  .titleDesc {
    font-size: 15px; }
  .companyContainer {
    margin-top: 50px; } }


@media only screen and (max-width: 524px) {
  .titleProff::after {
    width: 100%; }
  }

@media only screen and (max-width: 450px) {
  .homeImg img {
    width: 100%;
    position: relative;
    height: 100%;
    top: 25px; }
  .companyContainer {
    margin-top: 25px; } }

@media only screen and (max-width: 400px) {
  .titleDesc {
    font-size: 10px; }
}

@media only screen and (max-width: 375px) {
  .companyContainer {
    margin-top: 0; } }

