.fixedimg-container {
    height: 502px;
    background-image: url("../images/fixedImage.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%; 
}

  .fixedimg-desc {
    position: relative;
    font-size: 35px;
    color: white;
    letter-spacing: 10px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    top: 0; 
}
  
  .fixedimg-desc::after {
    content: '';
    position: absolute;
    background-color: #BF0F0F;
    width: 137px;
    height: 6px;
    bottom: 0; 
}