*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.react-multi-carousel-dot-list {
  display: none;
}

.react-multiple-carousel__arrow--left {
  z-index: 1;
}

.react-multiple-carousel__arrow--right {
  z-index: 1;
}

.dark-mode {
  background-color: #000;
  color: #000;
}