body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.dark-mode {
  background-color: #202020;
}

.welcome {
  font-size: 20px;
}

button.nav.default-nav {
  background-color: white;
}

button.nav.default-nav:hover {
  background-color: #BF0F0F;
}

.react-multi-carousel-dot-list {
  display: none;
}



@media screen and (max-width:460px) {
  .welcome {
    font-size: 15px;
  }
}

@media screen and (max-width:360px) {
  .welcome {
    font-size: 13px;
  }
}